.about {

  &__container {
    border-radius: 1.25rem;
    background-color: var(--clr-beige);
      @include max-media(50.25em) {
        max-width: calc(37.5rem + $containerPadding) !important;
      }
  }
  &__body {
    padding: clamp(80px, 6.25vw, 100px) clamp(10px, 5vw, 80px);
    @include max-media(37.5em) {
      padding: 80px 0px;
    }
  }
}
