.app {
  background: hsla(232, 100%, 98%, 1);
  margin-bottom: clamp(80px, 9.375vw, 150px);
  &__container {
    padding: 0 clamp(10px,1.25vw,20px) 0 0;
  }
  &__body {
    padding: clamp(100px, 9.375vw, 150px) 0;
    margin-inline: auto;
    display: flex;
    align-items: center;
    grid-gap: clamp(50px, 6.25vw, 100px);
  }
  &__info {
    max-width: 465px;
    text-align: left;
    p {
      font-size: clamp(24px, 1.75vw, 28px);
      font-weight: 700;
      color: hsla(224, 20%, 81%, 1);
      span {
        color: var(--clr-dark);
      }
    }
  }
}

@include max-media(46.875em) {
  .app {
    &__body {
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 2.5rem;
    }
    &__info {
      padding-left: 24px;
      text-align: center;
    }
    &__image {
      max-width: 34.375rem;
      margin-right: auto;
    }
  }
}
