.app {
  background: hsla(232, 100%, 98%, 1);
  margin-bottom: clamp(80px, 9.375vw, 150px);
  &__body {
    padding: clamp(100px, 9.375vw, 150px) 0;
    max-width: calc(35rem + 35px);
    margin-inline: auto;
    text-align: center;
  }
  &__info {
    p {
      font-size: clamp(24px, 1.75vw, 28px);
      font-weight: 700;
      color: hsla(224, 20%, 81%, 1);
      span {
        color: var(--clr-dark);
      }
    }
  }
}
