.exp-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.8rem, 1fr));
  grid-gap: var(--40-spc);
  &__block {
    border-radius: 8px;
    padding: clamp(64px, 5vw, 80px) clamp(24px, 2.5vw, 40px) 105px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 5;
    &::before {
      @include psevdo;
      width: 100%;
      background-repeat: no-repeat;
      z-index: 1;
      background-size: contain;
    }
    &:nth-child(1) {
      &::before {
        background-image: url('../../img/experience/first-item-decor.png');
        height: 35px;
        bottom: 26px;
      }
    }
    &:nth-child(2) {
      &::before {
        background-image: url('../../img/experience/second-item-decor.png');
        height: 45px;
        bottom: 0;
      }
      &::after {
        @include psevdo;
        width: 100%;
        height: 122px;
        background-image: url('../../img/experience/second-item-decor-2.png');
        background-repeat: no-repeat;
        left: 88px;
        top: 0;
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url('../../img/experience/third-item-decor.png');
        height: 32px;
        top: 97px;
      }
    }
    &:nth-child(4) {
      &::before {
        background-image: url('../../img/experience/fourth-item-decor.png');
        height: 44px;
        bottom: 0;
        right: 0;
        width: 138px;
      }
    }
    &:nth-child(5) {
      &::before {
        background-image: url('../../img/experience/fifth-item-decor.png');
        height: 51px;
        bottom: 0;
        right: 56px;
        width: 305px;
      }
    }
    &:nth-child(6) {
      &::before {
        background-image: url('../../img/experience/sixth-item-icon.png');
        height: 59px;
        top: 35px;
      }
    }
  }
  &__icon {
    position: relative;
    z-index: 50;
  }
  &__name {
    font-weight: 700;
    font-size: clamp(20px, 1.75vw, 28px);
    margin-top: clamp(2rem, 3vw, 48px);
  }
  &__descr {
    margin-top: 1.25rem;
    p {
      font-size: 1rem;
      color: var(--clr-light);
    }
  }
}
