.faq-row {
  max-width: 47.5rem;
  margin-inline: auto;
  padding-top: clamp(48px, 5vw, 80px);
  display: grid;
  grid-gap: 24px;
  &__item {
    border: 1px solid hsla(224, 20%, 81%, 1);
    border-radius: 8px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  &__visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
    padding: 1.5rem 1.25rem;
  }
  &__quest {
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__label {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    span {
      background-color: var(--clr-white);
      width: 1rem;
      height: 2px;
      display: block;
      position: absolute;
      border-radius: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 400ms ease;
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-color: var(--clr-blue);
    padding: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 400ms ease;
  }
  &__hidden {
    height: 0;
    transition: all 500ms ease;
    overflow: hidden;
    grid-gap: 10px;
    display: grid;
    grid-gap: 16px;
    p {
      color: hsla(226, 21%, 52%, 1);
    }
  }
}

.collapse {
  @include max-media(34.375em) {
    .mob-icon {
      margin-top: 1rem;
      display: block !important;
    }
  }
  .faq-row {
    &__hidden {
      height: 100%;
      opacity: 1;
      margin: 0px 24px 24px;
    }
    &__icon {
      background-color: var(--clr-white);
      outline: 1px solid var(--clr-blue);
    }
    &__label {
      span {
        background-color: var(--clr-blue);
        &:nth-child(2) {
          transform: translate(-50%, -50%) scale(0);
        }
      }
    }
  }

  .mob-icon {
    background-color: var(--clr-white);
    outline: 1px solid var(--clr-blue);
  }


  @include max-media(34.375em) {
    .faq-row__label {
      span {
        background-color: var(--clr-blue);
        &:nth-child(2) {
          transform: translate(-50%, -50%) scale(0);
        }
      }
    }
    .mob-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .faq-row {
      &__icon {
        display: none;
      }
    }
  }
}

@include min-media(34.375em) {
  .mob-icon {
    display: none !important;
  }
}

@include max-media(34.375em) {
  .faq-row {
    &__visible {
      flex-direction: column;
    }
    &__hidden {
      grid-gap: 1rem;
    }
  }
  .mob-icon {
    background-color: var(--clr-white);
    outline: 1px solid var(--clr-blue);
    margin-inline: auto;
    .faq-row__label {
      span {
        background-color: var(--clr-blue);
        &:nth-child(2) {
          transform: translate(-50%, -50%) scale(0);
        }
      }
    }
  }
}
