.faq-row {
  max-width: 47.5rem;
  margin-inline: auto;
  padding-top: clamp(48px, 5vw, 80px);
  display: grid;
  grid-gap: 24px;
  &__item {
    border: 1px solid hsla(224, 20%, 81%, 1);
    border-radius: 8px;
    cursor: pointer;
  }
  &__visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
    padding: 1.5rem 1.25rem;
  }
  &__quest {
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__label {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    span {
      background-color: var(--clr-white);
      width: 1rem;
      height: 2px;
      display: block;
      position: absolute;
      border-radius: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 400ms ease;
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-color: var(--clr-blue);
    padding: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 400ms ease;
  }
  &__hidden {
    display: none;
    grid-gap: 10px;
    padding: 27px;
    p {
      color: hsla(226, 21%, 52%, 1);
    }
  }
}

.collapse {

  .faq-row {
    &__hidden {
      display: block;
    }
    &__icon {
      background-color: var(--clr-white);
      outline: 1px solid var(--clr-blue);
    }
    &__label {
      span {
        background-color: var(--clr-blue);
        &:nth-child(2) {
          transform: translate(-50%, -50%) scale(0);
        }
      }
    }
  }
}
