.steps {

  &__slider {
    max-width: 550px;
    margin-inline: auto;
    margin-top: 2rem;
    // overflow: hidden;
  }
  &__slider-item {
    display: grid;
    grid-gap: 24px;
  }
  &__slider-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__slider-item {
    // &:nth-child(1) {
    //   .steps__slider-num {
    //     position: relative;
    //     &::before {
    //       @include psevdo;
    //       width: 195px;
    //       height: 35px;
    //       background-image: url('../../img/steps/vector-mob-1.svg');
    //       background-repeat: no-repeat;
    //       background-size: cover;
    //       right: -10rem;
    //     }
    //   }
    // }
  }
  &__name {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__slider-num {
    margin-inline: auto;
  }
  &__slider-descr {
    margin-top: 8px;
    max-width: 20.4375rem;
    margin-inline: auto;
    color: hsla(226, 21%, 52%, 1);
  }
  &__inner {
    display: grid;
    grid-template-columns: 22.5rem auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  &__img {
    opacity: 0;
    max-width: 23.125rem;
    position: relative;
    z-index: 50;
    margin-inline: auto;
    transition: all 650ms ease;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__column {
    display: grid;
    grid-gap: 64px;
  }
  &__heading {
    font-weight: 700;
    font-size: clamp(24px, 1.875vw, 30px);
  }
  &__column-text {
    p {
      color: hsla(226, 21%, 52%, 1);
      font-size: 1rem;
    }
  }
  &__column-block {
    display: flex;
    grid-gap: 2.25rem;
    opacity: 0;
  }
  &__column-info {
    display: grid;
    grid-gap: 1rem;
  }
  // &__number {
  //   opacity: 0;
  // }
  &__number,
  .steps__slider-num {
    background-color: var(--clr-blue);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    flex: 0 0 auto;
    color: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    transition: all 350ms ease;
    &::before {
      @include psevdo;
      width: 33px;
      height: 195px;
      z-index: -1;
      background-position: center;
    }
  }
  // &__number {
  //   opacity: 0;
  // }
  ._first {
    &::before {
      background-image: url('../../img/steps/steps-vector-1.svg');
      top: 33%;
    }
  }
  ._second {
    &::before {
      background-image: url('../../img/steps/steps-vector-2.svg');
      top: 33%;
      right: 0;
      height: 197px;
    }
  }
  &__image {
    // max-width: 23.125rem;
    position: relative;
    width: 708px;
    height: 876px;
    &::before {
      @include psevdo;
      width: 100%;
      max-width: 44.25rem;
      height: 100%;
      // max-height: 44.25rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../../img/steps/steps-decor.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 5;
    }
  }
}

._active {
  background-color: var(--clr-pink);
}

@include min-media(65.625em) {
  .steps {
    &__slider {
      display: none;
    }
  }
}

@include max-media(65.625em) {
  .steps {
    &__inner {
      display: none !important;
    }
  }
}

.swiper-slide-active {
  .steps {
    &__slider-num {
      background-color: var(--clr-pink);
    }
  }
}


._active-block {
  .steps__number {
    background-color: var(--clr-pink);
  }
}
