.steps {
  &__image {
    // [data-aos=fade-up] {
    //   transform: translate(-50%, -40%) !important;
    // }
    // [data-aos^=fade][data-aos^=fade].aos-animate {
    //   transform: translate(-50%, -50%) !important;
    // }
  }
  &__slider {
    max-width: 550px;
    margin-inline: auto;
    margin-top: 2rem;
    // overflow: hidden;
  }
  &__slider-item {
    display: grid;
    grid-gap: 24px;
  }
  &__slider-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__name {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__slider-num {
    margin-inline: auto;
  }
  &__slider-descr {
    margin-top: 8px;
    max-width: 20.4375rem;
    margin-inline: auto;
    color: hsla(226, 21%, 52%, 1);
  }
  &__inner {
    display: grid;
    grid-template-columns: 22.5rem auto;
    justify-content: space-around;
    grid-gap: 2rem;
    align-items: center;
    padding-top: clamp(20px, 5vw, 80px);
  }
  &__img {
    opacity: 0;
    max-width: 23.125rem;
    position: relative;
    z-index: 50;
    margin-inline: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    picture, img, source {
      max-height: clamp(500px, 43.75vw, 700px);
      @include max-media(95.625em) {
        max-height: 500px;
      }
    }
  }
  &__column {
    display: grid;
    grid-gap: 64px;
  }
  &__heading {
    font-weight: 700;
    font-size: clamp(24px, 1.875vw, 30px);
  }
  &__column-text {
    p {
      color: hsla(226, 21%, 52%, 1);
      font-size: 1rem;
    }
  }
  &__column-block {
    display: flex;
    grid-gap: 2.25rem;

  }
  &__column-info {
    display: grid;
    grid-gap: 1rem;
  }
  &__number,
  .steps__slider-num {
    background-color: var(--clr-blue);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    flex: 0 0 auto;
    color: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    transition: all 350ms ease;
    &::before {
      @include psevdo;
      width: 33px;
      height: 195px;
      z-index: -1;
      background-position: center;
    }
  }
  ._first {
    &::before {
      background-image: url('../../img/steps/steps-vector-1.svg');
      top: 33%;
    }
  }
  ._second {
    &::before {
      background-image: url('../../img/steps/steps-vector-2.svg');
      top: 33%;
      right: 0;
      height: 197px;
    }
  }
  &__image {
    // max-width: 23.125rem;
    position: relative;
    width: clamp(500px, 43.75vw, 700px);
    height: 700px;
    @include max-media(90.625em) {
      height: 650px;
    }
    @include max-media(85.375em) {
      max-height: 600px;
      height: 100%;
    }
    max-height: 700px;
    &::before {
      @include psevdo;
      width: 100%;
      max-width: 44.25rem;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../../img/steps/steps-decor.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 5;
    }
  }
}

._active {
  background-color: var(--clr-pink);
}

@include min-media(65.625em) {
  .steps {
    &__slider {
      display: none;
    }
  }
}

@include max-media(65.625em) {
  .steps {
    &__inner {
      display: none !important;
    }
  }
}

.swiper-slide-active {
  .steps {
    &__slider-num {
      background-color: var(--clr-pink);
    }
  }
}


._active-block {
  .steps__number {
    background-color: var(--clr-pink);
  }
}

#img1 {
  opacity: 1 !important;
}

.steps__image > img {
  transform: all 300ms ease !important;
}

#img2,
#img3 {
  transform: translate(-150%, -50%);
  transition: all 400ms ease !important;
}

._active-img {
  opacity: 1;

  transform: translate(-50%,-50%) !important;
}
