.team-row {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(22.2rem, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: var(--40-spc);
  &__image {
    max-height: 23.4375rem;
    overflow: hidden;
    width: fit-content;
    position: relative;
    max-width: 300px;
    img, picture {
      height: 100%;
    }
  }
  &__item {
    flex: 1 1 22.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22.5rem;
  }
  &__info {
    max-width: 360px;
    width: 100%;
    padding: 1.5625rem;
    border-top-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    background: hsla(232, 100%, 98%, 1);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 7px;
  }
  &__name {
    font-weight: 700;
    font-size: clamp(20px, 1.75vw, 28px);
  }
  &__pos {
    font-size: 1.125rem;
    font-weight: 700;
  }
}


.team-img-1 {
  &::before {
    @include psevdo;
    top: 66px;
    left: 0;
    width: 296px;
    height: 296px;
    background-image: url('../../img/team/grad-first-image.svg');
    background-repeat: no-repeat;
    z-index: -1;
    @include max-media(31.25em) {
      width: 268px;
      height: 268px;
      background-size: cover;
      top: 60px;
    }
  }
}
